<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MonkeyBadger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></link>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"></link>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/stylesheets/main.css"></link>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li><a class="monkeybadger-logo" href="/"></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% pages.each do |page| %>
            <li><a href="/pages/<%= page %>"><%= page.to_s.gsub '_', ' ' %></a></li>
            <% end %>
          </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
